<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Documentation · Patternbot</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="common/modules.css" rel="stylesheet">
  <link href="common/type.css" rel="stylesheet">
  <link href="common/theme.css" rel="stylesheet">
  <link href="patterns/folder-tree/folder-tree.css" rel="stylesheet">
  <link href="patterns/code-block/syntax.css" rel="stylesheet">
  <link href="patterns/code-block/code-block.css" rel="stylesheet">
  <link href="patterns/code-labels/code-labels.css" rel="stylesheet">
</head>
<body>

  {% include icons.html %}

  {% jsonball package from file package.json %}
  v{{package.version}}

  {{content}}
</body>
</html>
